.btn {
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
}

&:hover {
    transform: translateY(-3px); /* negative along the Y-axis will send the element up */
    box-shadow: 0 1rem 2rem rgba($color-black, .2); /* along the x-axis is 0, along the y-axis is 10px(so the shadow will be 10px downward) and the blur is 20px */

    &::after { /* when we hover the button, we want some styles to show using the after pseudo element */
        transform: scaleX(1.4) scaleY(1.6); /* scales the size of the effect */
        opacity: 0; /* fades out the after pseudo element button whn hovered - basically sets opacity invisble */
    }
}

&:active { /* active here is when a button is 'clicked' */
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
}

&--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
        background-color: $color-white;
    }
}

&::after { /* pseudo element - in this exapmle, its treated like a child of the btn class */
    content: ""; /* must be specified, otherwise psuedo element wont display */
    display: inline-block; /* must be specified, otherwise psuedo element wont display */
    height: 100%; /* 100% the height of the button */
    width: 100%;  /* 100% the width of the button */
    border-radius: 10rem; /* the same as the btn */
    position: absolute; /* relative to the position of the btn:visited class(as thats when the user */
    top: 0; /* makes it hidden behind the button */
    left: 0; /* makes it hidden behind the button */
    z-index: -1;
    transition: all .4s;
}


&--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; /* automatically applies the styles of 0% in the moveInBottom keyframe element function */
}
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15); // 0rem on the X axis, 1rem on the Y axis and 2rem blur
        transform: translateY(-2px); // moves the button when hovered up on the Y axis -2px
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15); // 0rem on the X axis, 1rem on the Y axis and 2rem blur
        transform: translateY(0); // moves the button back to its initial position with 0
    }
}