.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden; // makes it so the overflow from any child element is not seen - so the fron side styling of the card doesnt spill over the card class
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15); // 0 on the Xaxis, 15px on the Yaxis and 40px blur

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }

    }
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem; // defining the height of the picture inside the card
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // so this modern CSS3 technique works acroos all other browsers
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // makes the line cut in the image

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: url(../img/nat-5.jpg);
        }

        &--3 {
            background-image: url(../img/nat-5.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem; // top & bottom 10px and left & right 15px
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto; // top & bottom is 0 and left & right is automatically calculated by the browser

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) { // the li items that are NOT the last child
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white; // price-only & price-value will inherit all these values
        margin-bottom: 8rem; // bottom margin of 80px
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}