.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem; // 15px
    padding: 2.5rem; // 25px
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s; // we use transition to take the transform effect, outlined below in :hover, and apply it

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark); // gradient from light green to dark green 
        -webkit-background-clip: text; // clips the background image to the text
        color: transparent; // makes the text transparent allowing us to see the gradient effect
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03); // we want to bush the feature box up a bit, when hovered
    }
}