.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1); // 0 in the X direction, 30px in the Y direction and 60px of blur
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
}