.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0; // top and bottom is 25rem
    margin-top: -20vh;
    
}

.section-features {
    padding: 20rem 0; // 200px top & bottom and 0 left & right
    background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -11rem; // we want to push the row(section-features) up -110px
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0; // top is 25rem, right 0, bottom 15rem and left 0
    margin-top: -10.5rem;

}